#main-header {
    display: flex;
    justify-content: space-between;
    padding: 3%;
background-color: rgb(199, 59, 59);
}

body {
    margin: 0;

}

#Answers {

    padding: 10px;
    text-align: center;
    /* border-style: solid;
    border-width: 12px; */
    margin: 10%;
}

.ans {
    padding: 14px;
    background-color: rgb(5, 5, 143);
    color: rgb(248, 255, 248);
    
}

.ans:hover {
    background-color: lightblue;
    color: black;
}

.button-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 25px;

}

.Quiz-content  {
    margin: 14%;
    text-align: center;
    padding: 5px;

}

#start-game  {
    background-color: yellow;
    border-radius: 8px;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;
}
#start-game:hover {
    color: red;

}
.show{
    display: block !important;
}
.hide{
    display: none ;
}

h1{
    text-align: center;
    color: rgb(48, 48, 4);
    text-shadow: 12rem;
}
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }
  
  .card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }
  
  .card-body {
    min-height: 100px;
  }
  
  .card-footer {
    text-align: center;
  }
  
  #password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;}
    
    header {
        text-align: center;
        padding: 20px;
        padding-top: 0px;
        color: hsl(206, 17%, 28%);
      }
      #leaderBoard{
      background-color: rgb(208, 255, 0);
      color: aqua;
      border-radius: 40px;
      font-size: 2em;
      /* line-height: 16px; */
      max-width: 255px;
      padding: 15px 26px;
      text-align: center;
      margin-top: 0.6em;
    }
    
    #leaderBoard:hover{
        background-color: aliceblue;
    }
  
    #exitHighscoreButton{

     background-color: rgb(255, 0, 76);
      color: black;
      border-radius: 40px;
      font-size: 2em;
      /* line-height: 16px; */
      max-width: 255px;
      padding: 15px 26px;
      text-align: center;
      margin-top: 0.6em;
    }